<form [formGroup]="itemForm" (ngSubmit)="onSubmit()"  style="    width: 40pc;
margin-left: 10pc;">
  <h4>Details</h4>
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" id="name" formControlName="user_name" />
    <label for="name">Password:</label>
    <input class="form-control" type="text" id="password" formControlName="password" />
    <label for="name">Email:</label>
    <input class="form-control" type="text" id="email" formControlName="e_mail" />
    <label for="name">Role:</label>
    <input class="form-control" type="text" id="role" formControlName="role" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>